body{background-image:url("back_image.jpg");
    /* background-color:rgb(2, 8, 18); */

}

.heading {
    margin-top:-10px;
    margin-left: -10px;
    margin-right:-10px;
    color:red;
    background-color: hsl(0, 11%, 54%,0.4);
    text-align: center;
    padding: 16px;
    
} 
.first_line{
    color:black;
}

.about {
    color:red;
}
input {
    margin-left: 5px;
    background-color: grey;
    height:30px;
    text-indent: 7px;
    
}

.box {
    margin-top: 20px;
    margin-left: 628px;
    margin-right: 557px;
    text-align: center;
    color: rgb(235, 242, 244);
    font-weight: 900;
    font-size: 150%;
    background-color: brown;
    transition: opacity 0.15s;
  }
  
  .box:not(:empty) {
    padding: 10px;
  }
  .box:hover {
    opacity:0.8;
  }




#submit{
    color:darkgray; 
    margin-left:120px;
    height:30px;
    width: 100px;
    padding:30;
    border:none;
    border-radius:5px;
    cursor:pointer;
    background-color: brown;
}

#submit:hover{
    background-color: blue;
}
#submit:active{
    background-color:greenyellow;
}
